<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_3block :: layout(~{::body/content()})}">
<head>
<title>ログイン | 社員管理システム</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<th:block th:fragment="layout-main">
	<div th:object="${loginForm}">
		<h3>ログイン画面</h3>
		
		<p>
		<!-- 入力チェックアノテーションにエラーがある場合 -->

		<!-- ログイン失敗の場合 -->
			<span th:text="${errMessage}"></span>
		</p>
		<!-- 入力フォーム(CSS)からclass名を作成してください。-->
		<div class="login_form">
		<form method="post" th:action="@{/login}">
			<div class="login_form">
			<div class="label">社員ID</div>
				<div class="login_input">
				<input type="text" th:field="*{empId}" />
			</div>
			</div>
			<div class="login_form">
			<div class="label">パスワード</div>
			<div class="input">
				<input type="password" th:field="*{empPass}" />
			</div>
			</div>
			<div class="login_form">
			<div class="label"></div>
			<div class="input">
				<input type="submit" value="ログイン" />
			</div>
			</div>
		</form>
	</div>
	</th:block>
</body>
</html>