<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>会員登録入力 | シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_regist_input_admin">
	<h3>社員登録入力画面</h3>
	 <!-- class名とボタンの変更は行なわないこと。-->
	<div class="update">
		<form th:action="####" method="post" th:object="####">
				
			<p>
				<span th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}"></span><br />
				</span>
			</p>

			<div class="form">
				<div class="label">パスワード：</div>
				<div class="input">
					<input type="password" th:field="####" />
				</div>
			</div>
			<div class="form">
				<div class="label">社員名：</div>
				<div class="input">
					<input type="text" th:field="####" />
				</div>
			</div>
			<div class="form">
				<div class="label">性別：</div>
				<div class="input">
					<input type="radio" th:field="####" value="1" />男性&nbsp;
					<input type="radio" th:field="####" value="2" />女性
				</div>
			</div>
			<div class="form">
				<div class="label">住所：</div>
				<div class="input">
					<input type="text" th:field="####" />
				</div>
			</div>
			<div class="form">
				<div class="label">生年月日：</div>
				<div class="input">
					<input type="text" th:field="####" /> (YYYY/MM/DD)
				</div>
			</div>
			<div class="form">
				<div class="label">権限：</div>
				<div class="input">
					<input type="radio" th:field="####" value="1" />一般&nbsp;&nbsp;
					<input type="radio" th:field="####" value="2" />管理者
				</div>
			</div>
			<div class="form">
				<div class="label">部署名：</div>
				<div class="input">
					<select th:field="####">
						<option value="1">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
				</div>
			</div>
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="登録" />
				</div>
			</div>
		</form>
		<form th:action="@{/list}">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>
</body>

</html>